{% extends 'base.html' %}
{% block content %}
<h1>{{ trip.title }}</h1>

{% if rating.rating__avg < 0.5 %}
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating__avg }})
{% elif rating.rating__avg < 1.5 %}
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating__avg }})
{% elif rating.rating__avg < 2.5 %}
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating__avg }})
{% elif rating.rating__avg < 3.5 %}
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating__avg }})
{% elif rating.rating__avg < 4.5 %}
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star-empty"></span>
  ({{ rating.rating__avg }})
{% else %}
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  ({{ rating.rating__avg }})
{% endif %}

<p>{{ trip.description }}</p>
<p>Posted by <a href="{% url 'user_detail' slug=trip.user.username %}">{{ trip.user.username }}</a> on {{ trip.created_at }}</p>
{% if trip.user == user %}
<p><a href="{% url 'trip_update' pk=trip.id %}">Edit trip</a></p>
{% endif %}
{% if comments.count > 0 %}
<h3>{{ comments.count }} Comment{{ comments.count|pluralize }}:</h3>
{% endif %}
{% for comment in comments %}
<div class="panel">
    <p>{{ comment.text }}</p>
    {% if comment.user == user %}
    <p><a href="{% url 'comment_update' trip_pk=trip.id comment_pk=comment.id %}">Edit comment</a></p>
    <p><a href="{% url 'comment_delete' trip_pk=trip.id comment_pk=comment.id %}">Delete comment</a></p>
    {% endif %}
    <p>Comment by <a href="{% url 'user_detail' slug=comment.user.username %}">{{ comment.user.username }}</a> on {{ comment.created_at }} ({{ comment.vote_set.all.count }} Vote{{ comment.vote_set.all.count|pluralize }})</p>
    <form method="post" action="{% url 'vote' %}">
        {% csrf_token %}
        <input type="hidden" name="comment" value="{{ comment.id }}" />
        <input type="hidden" name="trip" value="{{ trip.id }}" />
        <input type="hidden" name="user" value="{{ user.id }}" />
        <button>+</button>
    </form>
</div>
{% endfor %}
<p><a href="{% url 'comment_create' pk=trip.id %}">Write comment</a></p>
{% endblock %}