{% extends 'base.html' %}
{% block content %}
<h1>{{ trip.title }}</h1>
<p>{{ trip.description }}</p>
<p>Posted by {{ trip.user.username }} on {{ trip.created_at }}</p>
{% if trip.user == user %}
<p><a href="{% url 'trip_update' pk=trip.id %}">Edit trip</a></p>
<p><a href="{% url 'trip_delete' pk=trip.id %}">Delete trip</a></p>
{% endif %}
{% if comments.count > 0 %}
<h3>{{ comments.count }} Comment{{ comments.count|pluralize }}:</h3>
{% endif %}
{% for comment in comments %}
<div class="panel">
    <p>{{ comment.text }}</p>
    {% if comment.user == user %}
    <p><a href="{% url 'comment_update' trip_pk=trip.id comment_pk=comment.id %}">Edit comment</a></p>
    <p><a href="{% url 'comment_delete' trip_pk=trip.id comment_pk=comment.id %}">Delete comment</a></p>
    {% endif %}
    <p>Comment by {{ comment.user.username }} on {{ comment.created_at }}</p>
</div>
{% endfor %}
<p><a href="{% url 'comment_create' pk=trip.id %}">Write comment</a></p>
{% endblock %}